include ../../blocks/favicon/favicon.pug
include ../../blocks/main-screen/main-screen.pug


doctype html
html(lang="ru")
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title NevaTrip HTML first task
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    +favicon()
  body
    main
      +main-screen({
        cards:[
          {
            pic: require('../../img/bridge.jpg'),
            picAlt: "bridge",
            picCaption: "НОВИНКА",
            title:"Обзорная экскурсия по рекам и каналам с остановками Hop on Hop Off 2020",
            titleTag:"p",
            duration: "2 часа",
            advantages:[
              {text:"Билет на целый день"},
              {text:"Неограниченное число катаний"},
              {text:"6 остановок у главных достопримечательностей"},
              {
                text:"Ближайший рейс сегодня",
                moreButtonText: "ещё...",
                departureTimes:[
                  {text:"12:00"},
                  {text:"12:00",modificator:"card__departure-time_active"},
                  {text:"12:00"},
                ],
              },
            ],
            price:"900 ₽",
            altPrice: "1200 ₽ на причале",
            buttonText: "Подробнее",
          },
          {
            pic: require('../../img/waterfront.jpg'),
            picAlt: "waterfront",
            picCaption: "КРУГЛЫЙ ГОД",
            picCaptionModificators:"card__pic-caption_theme_yellow",
            title:"Обзорная экскурсия по рекам и каналам с остановками Hop on Hop Off 2020",
            titleTag:"p",
            duration: "2 часа",
            advantages:[
              {text:"Билет на целый день"},
              {text:"Неограниченное число катаний"},
              {text:"6 остановок у главных достопримечательностей"},
              {
                text:"Ближайший рейс сегодня",
                departureTimes:[
                  {text:"12:00"},
                  {text:"12:00"},
                  {text:"12:00"},
                  {text:"12:00"},
                ],
              },
            ],
            price:"900 ₽",
            altPrice: "1200 ₽ на причале",
            buttonText: "Подробнее",
          },
          {
            pic: require('../../img/piano.jpg'),
            picAlt: "piano",
            title:"Обзорная экскурсия по рекам и каналам с остановками Hop on Hop Off 2020",
            titleTag:"p",
            duration: "2 часа",
            advantages:[
              {text:"Билет на целый день"},
              {text:"Неограниченное число катаний"},
              {text:"6 остановок у главных достопримечательностей"},
              {
                text:"Ближайший рейс сегодня",
                moreButtonText: "ещё...",
                departureTimes:[
                  {text:"12:00"},
                  {text:"12:00",modificator:"card__departure-time_active"},
                  {text:"12:00"},
                  {text:"12:00"},
                  {text:"12:00"},
                ],
              },
            ],
            price:"900 ₽",
            altPrice: "1200 ₽ на причале",
            buttonText: "Подробнее",
          },
          {
            pic: require('../../img/capitol.jpg'),
            picAlt: "capitol",
            picCaption: "НОВИНКА",
            picCaptionModificators:"card__pic-caption_theme_yellow",
            title:"АКЦИЯ - Обзорная экскурсия по рекам и каналам  с остановками Hop on Hop Off 2019",
            titleTag:"p",
            duration: "2 часа",
            advantages:[
              {text:"Билет на целый день"},
              {text:"Неограниченное число катаний"},
              {text:"6 остановок у главных достопримечательностей"},
              {
                text:"Ближайший рейс сегодня",
                moreButtonText: "ещё...",
                departureTimes:[
                  {text:"12:00"},
                  {text:"12:00"},
                  {text:"12:00"},
                  {text:"12:00"},
                ],
              },
            ],
            price:"900 ₽",
            altPrice: "1200 ₽ на причале",
            buttonText: "Подробнее",
          },
          {
            pic: require('../../img/capitol.jpg'),
            picAlt: "capitol",
            picCaption: "НОВИНКА",
            picCaptionModificators:"card__pic-caption_theme_purple card__pic-caption_position_top card__pic-caption_shape_leaf",
            title:"АКЦИЯ - Обзорная экскурсия по рекам и каналам  с остановками Hop on Hop Off 2019",
            titleTag:"p",
            duration: "2 часа",
            advantages:[
              {text:"Билет на целый день"},
              {text:"Неограниченное число катаний"},
              {text:"6 остановок у главных достопримечательностей"},
              {
                text:"Ближайший рейс сегодня",
                moreButtonText: "ещё...",
                departureTimes:[
                  {text:"12:00"},
                  {text:"12:00"},
                  {text:"12:00"},
                  {text:"12:00"},
                ],
              },
            ],
            price:"2900 ₽",
            altPrice: "1200 ₽ на причале",
            buttonText: "Подробнее",
          },
        ]})
      