mixin card__text-container(modifier)
  .card__text-container&attributes(attributes)
    +card__title(modifier)
    +card__duration(modifier)
    +card__advantages(modifier)
    +card__bottom(modifier)